@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  min-height: 100vh;
  display: grid;
}

body {
  min-height: 100vh;
  display: grid;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ffc629;
}

.pic {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.profile  {
  height: 40em;
  background-color: #f8f5d4;
  /* background-image: url('./images/profile.jpg'); */
  border-radius: 15px;
  /* padding: 15px; */
}

.leading-image-card {
  position: relative;
}

.container {
  background-color: white;
  width: 350px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 15px;
}

.container:hover{
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#bumble-header {
text-align: center;
color: #ffc629;
font-family: 'Raleway', sans-serif;
font-weight: bolder;
}

.name {
  color: white;
  position: absolute;
  top: 85%;
  left: 5%;
  font-family: 'Raleway', sans-serif;
}

#verified {
  color: #2483d2;
}

.text {
  padding: 15px;
  font-family: 'Raleway', sans-serif;
  line-height: 28px;
}

li {
  display: inline-block;
  margin: 2px;
}

a {
  color: white;
}

a:hover {
  color: rgb(175, 174, 174);
}

.list-inline {
  position: absolute;
  list-style: none;
  top: -3%;
  left: -9%;
  font-size: 25px;
  color: rgb(230, 230, 230);
}

.tag-inline {
  display: flex;
  justify-content: space-between;
}

.heart {
  display: flex;
  top: 75%;
  right: 1%;
}

.tag-inline {
  margin-left: -14%;
}

.tag{
  background-color: #f6ecc0;
  display: flex;
  border-radius: 5px;
  justify-content: space-evenly;
  text-align: center;
  padding: 0px 10px 0px;
  font-family: 'Raleway', sans-serif;
}

#heart {
  fill: #f8c437;
}

#heart:hover {
  fill: #f58d9c;
}

.heart {
  position: absolute;
}

.app-footer {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}

#person-icon, #chat-icon, #bumble-icon {
  fill: #504e4e;
}

#person-icon:hover, #chat-icon:hover, #bumble-icon:hover {
  fill: #171717;
}
